 <div class="container">
          <h1>Car Information</h1>
          <table class="data-table">
              <tr>
                  <th>Field</th>
                  <th>Value</th>
              </tr>
              <tr>
                  <td>InvoiceNo</td>
                  <td>{{data1.InvoiceNo}}</td>
              </tr>
              <tr>
                  <td>Manufacturer</td>
                  <td>{{data1.Manufacturer}}</td>
              </tr>
              <tr>
                  <td>Model</td>
                  <td>{{data1.Model}}</td>
              </tr>
              <tr>
                  <td>Sales In Thousands</td>
                  <td>{{data1.Sales_in_thousands}}</td>
              </tr>
              <tr>
                  <td>Vehicle Type</td>
                  <td>{{data1.Vehicle_type}}</td>
              </tr>
              <tr>
                  <td>Engine Size</td>
                  <td>{{data1.Engine_size}}</td>
              </tr>
              <tr>
                  <td>Horse Power</td>
                  <td>{{data1.Horsepower}}</td>
              </tr>
              <tr>
                  <td>Wheel base</td>
                  <td>{{data1.Wheelbase}}</td>
              </tr>
              <tr>
                  <td>Curb Weight</td>
                  <td>{{data1.Curb_weight}}</td>
              </tr>
              <tr>
                  <td>Fuel Capacity</td>
                  <td>{{data1.Fuel_capacity}}</td>
              </tr>
              <tr>
                  <td>Fuel Efficiency</td>
                  <td>{{data1.Fuel_efficiency}}</td>
              </tr>
              <tr>
                  <td>Latest Launch</td>
                  <td>{{data1.Latest_Launch}}</td>
              </tr>
              <tr>
                  <td>Power Perf Factor</td>
                  <td>{{data1.Power_perf_factor}}</td>
              </tr>
              <!-- Add more rows for other data -->
          </table>
      </div>